<div class='container'>
  <div class='row'>
    <div class="w-100 mb-">
      <h2 class="mt-5" style="border-left: solid 5px #f00; padding: 0.25em 0.5em;">フォロー</h2>
      <%= render 'list', users: @users %>
    </div>
  </div>
</div>