<footer class="py-2 bg-dark fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a class="navbar-brand text-light" href="/"><span>ROCK LIFE</span></a>
      </div>
    </div>
  </div>
</footer>